*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: rgb(230, 230, 230);
}
.main{
    width: 70%;
    margin: auto;
    background-color: white;

}
.container{
    width: 95%;
    margin: auto;
}
.header{
    width: 100%;
    height: 70px;
    border-bottom: rgb(190, 189, 189) solid 2px;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0%;
    padding: 0%;
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

li:hover a{
    font-size: 23px;
    transition: 0.1s;
    color: black;
}
a{
    text-decoration: none;
    color: rgb(124, 124, 124);
    font-size: 20px;
}
span{
    color: black;
}
.abouthim{
    width: 100%;
    display: flex;
    height: 140px;
    justify-content: space-between;
    padding-bottom: 20px;
}
.lefttop{
    font-size: 40px;
    font-weight: 700;
    width: 20%;
    display: flex;
    align-items: flex-end;
}
.middletop{
    width: 18.3%;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
}
.righttop{
    color: rgb(124, 124, 124);
    transform: rotate(-90deg);
    width: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
img{
   width: 100%;
   margin: auto;
}
h1{
    font-size: 30px;
    text-align: center;
    padding-top: 120px;
}
.hi{
    width: 60%;
    margin: auto;
}
p{
    font-size: 20px;
    text-align: center;
    margin: 4%;
}
.topp{
    padding-top: 8%;
}
.pop{
    padding-top: 4%;
}
.icons{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 3%;
}
.icon{
    width: 20%;
    height: 200px;
    text-align: center;
    margin-top: 3%;
}
.adobes{
    margin: auto;
    width: 100px;
    height: 100px;
}
.adobes-figma{
    height: 100px;
    width: 70px;
}
.prog{
    font-size: 14px;
    text-align: center;
    color: rgb(124, 124, 124);
    height: 34px;
}
.programs{
    padding-top: 8%;
    width: 85px;
    max-height: 34px;
    margin: auto;
    text-align: center;
}
.iwork{
    padding-top: 3%;
}
.stars{
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
}
.footer{
    margin: auto;
    width: 70%;
    background-color: white;
}
.chat{
    padding-top: 7%;
}
.blockmessage{
    margin: auto;
    width: 180px;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    margin-top: 5%;
}
.sendmessage{
    color: white;
    font-size: 18px;
    padding-top: 8px;
}
.connection{
    padding-top: 40px;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 7%;
    height: 45px;
}
.connections:hover{
    width: 45px;
    height: 44px;
    transition: 0.1s;

}
.footertext{
    font-size: 14px;
    color: rgb(184, 184, 184);
    text-align: center;
    display: block;
    height: 34px;
    padding-top: 40px;
}
.burgermenu{
    display: none;
    width: 100%;
    color: black;
    font-size: 18px;
    background-color: white;
    
}
.burgermenu>ul{
    list-style: none;
    display: inline-block;
}
.burgermenu>ul>li{
    padding: 20px;
}
.burgermenu>ul>li>a{
    text-decoration: none;
    color: grey;
    font-weight: bold;

}
.burgermenu>ul>li>a:hover{
    color: black;
    transition: 0.1ms;
}
.burgermenu>span{
    display: flex;
    justify-content: flex-end;
    color: grey;
}
.fix{
    position: sticky;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 30px;
}
.burger{
    display: none;
}